<a href="https://colab.research.google.com/github/FGalvao77/SF-Salaries-Exercise---EDA-Exploratory-Data-Analysis-/blob/main/SF_Salaries_Exercise_EDA_%5BExploratory_Data_Analysis%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **SF Salaries: Exercise - EDA [Exploratory Data Analysis]**
---
---

#### Exercícios

Nestes exercícios vamos utilizar os dados de salários da cidade de São Francisco, [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) do site do [Kaggle](https://www.kaggle.com).

1. Importe pandas como pd.

In [1]:
import pandas as pd

2. Leia o arquivo Salaries.csv e salve as informações no DataFrame sal.

In [2]:
# importando o conjunto de dados para o ambiente do colab                    
# from google.colab import files 
# uploaded = files.upload()

In [3]:
!curl https://raw.githubusercontent.com/Kokkalo4/Kaggle-SF-Salaries/master/Salaries.csv >> Salaries.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15.5M  100 15.5M    0     0   139M      0 --:--:-- --:--:-- --:--:--  139M

In [4]:
sal = pd.read_csv('/content/Salaries.csv', low_memory=False)

3. Verifique os primeiros registros de sal.

In [5]:
# visualizando as 5 primeiras observações do conjunto de dados
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

4. Use o método `info()` para descobrir o número de registros.

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

5. Qual é a média de BasePay?

In [7]:
# visualizando os valores únicos da coluna "BasePay"
sal['BasePay'].unique()

array(['167411.18', '155966.02', '212739.13', ..., '6.04', '15.50',
       'Not Provided'], dtype=object)

In [8]:
# verificando se há presença de valores "NaN"
sal['BasePay'].isna().any() # True: verdadeiro | False: falso

True

In [9]:
# visualizando o tipo de dado da coluna
sal['BasePay'].dtype

dtype('O')

In [10]:
# visualizando o valor médio da coluna
sal['BasePay'].describe().astype('float').mean()

64661.25

In [11]:
# podemos realizar a transformação do tipo da variável do atributo "BasePay" para numérico
sal['BasePay'] = pd.to_numeric(sal['BasePay'], 
                               errors='coerce')

sal['BasePay'].dtype

dtype('float64')

In [12]:
# verificando se há presença de valores "NaN"
sal['BasePay'].isna().any() # True: verdadeiro | False: falso

True

In [13]:
# preenchendo os valores "NaN" com -1
sal['BasePay'] = sal['BasePay'].fillna(value=-1)

In [14]:
# verificando se há presença de valores "NaN"
sal['BasePay'].isna().any() # True: verdadeiro | False: falso

False

In [15]:
# visualizando o resumo estatístico geral da coluna
sal['BasePay'].describe()

count    148654.000000
mean      66053.725191
std       42886.717468
min        -166.010000
25%       32792.545000
50%       64861.600000
75%       94605.740000
max      319275.010000
Name: BasePay, dtype: float64

In [16]:
# selecionando o valor médio dos dados da coluna
round(sal['BasePay'].describe()['mean'], 2)

66053.73

6. Qual é o maior salário em OvertimePay no dataset?

In [17]:
sal['OvertimePay'].unique()

array(['0.0', '245131.88', '106088.18', ..., '102.70', '56.77',
       'Not Provided'], dtype=object)

In [18]:
sal['OvertimePay'].dtype

dtype('O')

In [19]:
# realizando a transformação do tipo da variável do atributo "OvertimePay"
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], 
                               errors='coerce')

In [20]:
# verificando se há presença de valores "NaN"
sal['OvertimePay'].isna().any() # True: verdadeiro | False: falso

True

In [21]:
# preenchendo os valores "NaN" com -1 de todo conjunto de dados
sal['BasePay'] = sal['BasePay'].fillna(value=-1)

In [22]:
sal['OvertimePay'].describe()

count    148650.000000
mean       5066.059886
std       11454.380559
min          -0.010000
25%           0.000000
50%           0.000000
75%        4658.175000
max      245131.880000
Name: OvertimePay, dtype: float64

In [23]:
sal['OvertimePay'].describe()['max']

245131.88

7. Qual a profissão (JobTitle) de Courtney T Mcelrath?

In [24]:
# visualizando o nome das colunas
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [25]:
# selecionando da coluna "EmployeeName" os dados do funcionário "Courtney T Mcelrath"
employee = sal[(sal['EmployeeName'] == 'Courtney T Mcelrath')]

# visualizando o nome do funcionário
employee['JobTitle']

148458    Pool Lifeguard
Name: JobTitle, dtype: object

8. Quanto ela recebe incluindo os benefícios (TotalPayBenefits)?

In [26]:
employee['TotalPayBenefits']

148458    197.03
Name: TotalPayBenefits, dtype: float64

9. Qual a pessoa mais bem paga incluindo os benefícios?

In [27]:
max_pay = sal['TotalPayBenefits'].max()

max_pay

567595.43

In [28]:
employee_name = sal[(sal['TotalPayBenefits'] == max_pay)]

employee_name[['EmployeeName', 'TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

10. Qual a pessoa com o pior pagamento incluindo os benefícios?

In [29]:
sal['TotalPayBenefits'].describe()

count    148654.000000
mean      93692.554811
std       62793.533483
min        -618.130000
25%       44065.650000
50%       92404.090000
75%      132876.450000
max      567595.430000
Name: TotalPayBenefits, dtype: float64

In [30]:
min_pay = sal['TotalPayBenefits'].min()

min_pay

-618.13

In [31]:
employee_name = sal[(sal['TotalPayBenefits'] == min_pay)]

employee_name[['EmployeeName', 'TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

11. Qual e média da base salárial (BasePay) de todos os funcionários no período de 2011-2014?

In [32]:
# visualizando o tipo de dado da coluna
sal['BasePay'].dtype

dtype('float64')

In [33]:
salMed_2011_2014 = sal[(sal['BasePay'] >= 2011) & sal['BasePay'] <= 2014]

# visualizando os valores únicos da coluna
salMed_2011_2014['Year'].unique()

array([2011, 2012, 2013, 2014])

In [34]:
# visualizando as 5 primeiras observações
salMed_2011_2014.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [35]:
# visualizando as 5 últimas observações
salMed_2011_2014.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,-1.0,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,-1.0,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,-1.0,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [36]:
# visualizando a média da base salarial do período de 2011 a 2014
round(salMed_2011_2014['BasePay'].describe()['mean'], 2)

66053.73

12. Quantas profissões diferente há nessa base de dados?

In [37]:
# total de profissões distintas no conjunto de dados
sal['JobTitle'].nunique()

2159

In [38]:
# visualizando as 20 primeiras observações
pd.DataFrame(sal['JobTitle'].unique(), columns=['JobName']).head(20)

                                             JobName
0     GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                    CAPTAIN III (POLICE DEPARTMENT)
2               WIRE ROPE CABLE MAINTENANCE MECHANIC
3       DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
4                          ASSISTANT DEPUTY CHIEF II
5                 BATTALION CHIEF, (FIRE DEPARTMENT)
6                     DEPUTY DIRECTOR OF INVESTMENTS
7             CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
8   ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
9                        EXECUTIVE CONTRACT EMPLOYEE
10                                 DEPARTMENT HEAD V
11                COMMANDER III, (POLICE DEPARTMENT)
12             CAPTAIN, EMERGENCYCY MEDICAL SERVICES
13                        ASSISTANT MEDICAL EXAMINER
14                         CAPTAIN, FIRE SUPPRESSION
15                                   CHIEF OF POLICE
16              DEPUTY CHIEF III (POLICE DEPARTMENT)
17                INSPECTOR III, (POLICE DEPARTMENT)
18                 ELECTRONIC MAINTENANCE TECHNICIAN
19                ADMINISTRATOR, SFGH MEDICAL CENTER

13. Quais são as 5 profissões mais comuns?

In [39]:
sal['JobTitle'].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [40]:
# contablilizando o total em cada tipo de profissão - top five
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [41]:
# visualizando as 20 primeiras observações - do maior para o menor
pd.DataFrame(sal['JobTitle'].value_counts()).head(20).sort_values(by='JobTitle', ascending=False)

                              JobTitle
Transit Operator                  7036
Special Nurse                     4389
Registered Nurse                  3736
Public Svc Aide-Public Works      2518
Police Officer 3                  2421
Custodian                         2418
TRANSIT OPERATOR                  2388
Firefighter                       2359
Recreation Leader                 1971
Patient Care Assistant            1945
Deputy Sheriff                    1933
Police Officer                    1476
SPECIAL NURSE                     1402
Public Service Trainee            1328
REGISTERED NURSE                  1219
Police Officer 2                  1141
Attorney (Civil/Criminal)         1126
Porter                            1095
Sergeant 3                        1047
General Laborer                   1033

14. Quantas profissões tinham apenas uma pessoa no ano de 2014?

In [42]:
# seleciando as colunas: "Year" == 2014 & "JobTitle"
year_2014 = sal[(sal['Year'] == 2014) & sal['JobTitle']]

# visualizando os valores únicos da coluna
year_2014

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,-1.00,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,-1.00,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,-1.00,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [43]:
year_2014.shape

(38123, 13)

In [44]:
year_2014['JobTitle'].sort_values()

135283     ACPO,JuvP, Juv Prob (SFERS)
129934    ASR Senior Office Specialist
129813    ASR Senior Office Specialist
133830    ASR Senior Office Specialist
131545    ASR Senior Office Specialist
                      ...
139672           X-Ray Laboratory Aide
130431           X-Ray Laboratory Aide
130097           X-Ray Laboratory Aide
127941           X-Ray Laboratory Aide
138458              Youth Comm Advisor
Name: JobTitle, Length: 38123, dtype: object

In [45]:
pd.DataFrame(year_2014['JobTitle'].value_counts().sort_values())

                                JobTitle
Area Sprv Parks, Squares & Fac         1
District Attorney                      1
IS Operator-Journey                    1
City Attorney                          1
Transit Planner 4                      1
...                                  ...
Firefighter                          815
Public Svc Aide-Public Works         916
Registered Nurse                    1234
Special Nurse                       1478
Transit Operator                    2479

[997 rows x 1 columns]

In [46]:
# contabilizando os títulos de profissões que possui apenas uma pessoa
sum(year_2014['JobTitle'].value_counts().sort_values() == 1)

175

In [47]:
# visualizando as 176 observações conforme o título profissional
pd.DataFrame(year_2014['JobTitle'].value_counts()).tail(176).sort_values(by='JobTitle', ascending=False)

                                JobTitle
Mayoral Staff XIII                     2
Laboratory Technician I                1
Senior Food Service Supervisor         1
Document Examiner Technician           1
Senior Morgue Attendant                1
...                                  ...
City Attorney                          1
IS Operator-Journey                    1
District Attorney                      1
Asst Dir, Log Cabin Rnch               1
Area Sprv Parks, Squares & Fac         1

[176 rows x 1 columns]

15. Quantas pessoas tem a palavra 'Chief' na sua profissão (jobTitle)?

In [48]:
# usando o método ".str.contains()" para selecionar uma palavra específica de uma coluna
# OBS.: esse método retorna a string de interesse independente da posição da palavra 
title_chief = sal[sal['JobTitle'].str.contains('Chief', na=False)]

# visualizando a seleção da coluna "JobTitle" que contém a string "Chief"
title_chief

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.9,316988.26,369309.16,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [49]:
# visualizando a dimensão do objeto
title_chief.shape   # linhas e colunas

(423, 13)

In [50]:
# estatística descritiva do objeto
title_chief.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,423.0,79006.366430,31355.583144,36161.00,45477.500,73459.00,110674.500,140157.00
BasePay,423.0,146566.515343,65683.291968,-1.00,93652.000,174822.41,194536.035,319275.01
OvertimePay,423.0,12925.171986,25511.171867,0.00,0.000,0.00,9989.405,131217.63
TotalPay,423.0,175781.749125,78885.346815,9077.00,108976.250,190250.10,232331.220,471952.64
TotalPayBenefits,423.0,220619.888605,93453.343465,10452.52,145400.405,248348.83,283995.560,510732.68
Year,423.0,2012.997636,0.816009,2012.00,2012.000,2013.00,2014.000,2014.00
Notes,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# outra forma é utilizar o método ".str.match()" para selecionar uma palavra específica de uma coluna
# OBS.: retorna com mais precisão a seleção da string de interesse, nesse caso a primeira cadeia de strings
title_chief2 = sal[sal['JobTitle'].str.match('Chief', na=False)]

# visualizando o objeto
title_chief2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36345,36346,Burk Delventhal,Chief Atty1 (Civil & Criminal),206752.00,0.00,312.5,64406.22,207064.50,271470.72,2012,NaN,San Francisco,NaN
36419,36420,Joanne Hoeper,Chief Atty1 (Civil & Criminal),201384.40,0.00,312.5,60796.93,201696.90,262493.83,2012,NaN,San Francisco,NaN
36420,36421,Wendy Still,Chief Adult Probation Officer,192454.46,0.00,5185.04,64849.52,197639.50,262489.02,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [52]:
# visualizando a dimensão do objeto "title_chief2"
title_chief2.shape   # linhas e colunas

(198, 13)

In [53]:
# estatística descritiva do objeto "title_chief2"
title_chief2.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,198.0,84601.439394,31619.711566,36161.00,51703.5000,83284.50,114750.7500,140157.00
BasePay,198.0,109871.261667,57159.906610,232.10,77673.8650,99418.90,126937.0150,319275.01
OvertimePay,198.0,3555.094848,9527.867255,0.00,0.0000,0.00,1154.3975,66974.96
TotalPay,198.0,120882.697727,61030.000241,9077.00,82337.6500,115043.02,139324.5825,339653.70
TotalPayBenefits,198.0,158036.229646,75824.445737,13019.01,113177.2475,151830.65,181657.0550,436224.36
Year,198.0,2013.025253,0.821271,2012.00,2012.0000,2013.00,2014.0000,2014.00
Notes,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

16. Há correlação (correlation) entre o tamanho do nome da profissão e o salário?

In [54]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [55]:
sal[['JobTitle', 'BasePay']].dtypes

JobTitle     object
BasePay     float64
dtype: object

In [56]:
sal['JobTitle'].dtypes

dtype('O')

In [57]:
sal[['JobTitle', 'BasePay']].corr()

         BasePay
BasePay      1.0

> Não é possível realizar a correlação entre uma variável do tipo `object` e `float`.

In [58]:
# realizando a transformação do tipo da variável do atributo "JobTitle"
sal['JobTitle'] = pd.to_numeric(sal['JobTitle'], 
                               errors='coerce')

In [59]:
sal['JobTitle'].dtypes

dtype('float64')

In [60]:
sal[['JobTitle', 'BasePay']].corr()

          JobTitle  BasePay
JobTitle       NaN      NaN
BasePay        NaN      1.0

In [61]:
# visualizando as variáveis local do ambiente
%whos

Variable           Type         Data/Info
-----------------------------------------
employee           DataFrame                Id         Em<...>8  San Francisco     PT
employee_name      DataFrame                Id EmployeeNa<...>3  San Francisco     PT
max_pay            float64      567595.43
min_pay            float64      -618.13
pd                 module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
sal                DataFrame                Id       Empl<...>148654 rows x 13 columns]
salMed_2011_2014   DataFrame                Id       Empl<...>148654 rows x 13 columns]
title_chief        DataFrame                Id         Em<...>\n[423 rows x 13 columns]
title_chief2       DataFrame                Id         Em<...>\n[198 rows x 13 columns]
year_2014          DataFrame                Id          E<...>[38123 rows x 13 columns]

In [62]:
# visualizando as variáveis local do ambiente em formato de uma lista
%who_ls

['employee',
 'employee_name',
 'max_pay',
 'min_pay',
 'pd',
 'sal',
 'salMed_2011_2014',
 'title_chief',
 'title_chief2',
 'year_2014']